body {
    padding-top: 50px;
    background-color: #E3FDFD;/*F5F5F5*/
    font-family: '微软雅黑';
    color: #58828B;
}
.navbar-inverse {
    /*background-color: #3B4A6B;*/
    /*border-color: #3B4A6B;*/
    background-color: #283739;
    border-color: #283739;
}
.container {
    /*margin-left: 50px;*/
    /*margin-right: 10px;*/
}
.to-top {
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 5;
    width: 50px;
    height: 50px;
}
.to-top span {
    display: block;
    width: 20px;
    height: 20px;
}
.carousel {
    /*margin-top: 2px;*/
    /*margin-bottom: 20px;*/
    height: 500px;  
    background-color: #000;
}
.carousel .item {
    height: 500px;
    background-color: #000;
}
.carousel img {
    width: 100%;
    height: 500px;
}
.carousel .carousel-caption:hover {
    /*box-shadow: 10px 10px 20px rgba(0,0,0,0.4);*/
    transition: color 600ms;
    color: #78D8D0;
}
h1, h2, h3, h4 {
    /*font-weight: bold;*/
    font-family: '微软雅黑';
}
#contact {
    background-color: #283739;
    font-family: serif;
    color: #F5F5F5;
}
#contact h2 {
    font-family: serif;
    color: #F5F5F5;
}
#show {
    background-color: #283739;
}
#show img {
    width: 100%;
    box-shadow: -5px 10px 15px rgba(0,0,0,0.3);
    /*水平 竖直 阴影 颜色*/
}
#show img:hover {
    transition: box-shadow,transform 800ms;
    transform: scale(1.03,1.03);
    box-shadow: 5px 10px 30px rgba(255,255,255,0.3);
}
#show .col-md-3:hover {
    color: #78D8D0;
}
#map {
    margin-top: -30px;
    background-color: #F4F7ED;
    padding-bottom: 30px;
}
#map-api {
    margin: 0;
    /*background-color: #fff;*/
    width: 100%;
    height: 500px;
    border: 2px solid grey;
}
#introduce {
    margin-bottom: 30px;
    color: rgba(0,0,0,.8);
}
#introduce .col-md-4 {
    height: 240px;
}
#introduce .col-md-4:hover {
    transition: color 600ms;
    color: #FA7F7F;
}
#team img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
#team .col-md-2:hover {
    transition: color 800ms;
    color: #78D8D0;
}
#team img:hover {
    transition: transform 500ms;
    /*border-radius: 5%;*/
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);  /* IE 9 */
    -webkit-transform: scale(1.1,1.1);  /* Safari 和 Chrome */
    -o-transform: scale(1.1,1.1);   /* Opera */
    -moz-transform: scale(1.1,1.1); /* Firefox */
}
.demo2 {
    background-color: #A5DEF1;
}
.demo1 {
    background-color: #FFF2BE;
}
#show .page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 2px solid #eee;
}
#iphone {
    width: 320px;
    /*border-radius: 100px;*/
    /*box-shadow: 0 10px 20px #000;*/
    /*border-bottom: 2px dashed #317AE1;*/
    margin-bottom: 100px;
}
#download {
    color: #233142;
    background: #649173; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #649173 , #DBD5A4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #649173 , #DBD5A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */          
}